body {
	font-size: 20px;
	padding: 50px;
}

#tabEpisodes thead tr td {
	font-weight: bold;
}

#content, #ensemble-form {
	display: inline-block;
}

table td {
	width: 200px;
}

#bouton {
	font-size: 15px;
	color: blue;
	padding: 8px;
	border-radius: 5px;
}

.container
{
	width: 1024px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	background: #CCCCCC;
}

.table
{
	text-align: center;
	width: 70%;
	height: auto;
	background: #999999;
}

.th__head{
	padding: 10px 68px 10px 68px;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
}

.td__content{
	padding: 5px 68px 5px 68px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

.form
{	
	text-align: center;
	width: 20%;
	height: auto;
	background: #888888;
	position: relative;
	top: -45px;
	left: 750px;
	padding: 20px;
}

